.container {
    position: relative;
    border: 1px solid gainsboro;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.timeline-container {
    overflow-y: scroll;
}

.tags-container {
    display: flex;
    flex-direction: row;
}
