button:focus {
    outline: none;
}

.box {
    height: 100%;
}

.tab-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

h6 {
    display: flex;
    flex-grow: 1;
}

.tab-hover:hover {
    color: cornflowerblue;
    outline: 1px solid cornflowerblue;
    -webkit-transition: all .4s ease;
}
