beautifulsoup4==4.10.0
en_core_web_sm==3.2.0
flair==0.10
Flask==0.12.2
Flask_Cors==3.0.10
joblib==1.1.0
nltk==3.7
numpy==1.21.5
pandas==1.4.1
Pattern==3.6
requests==2.27.1
rich==12.0.1
scikit_learn==1.0.2
scipy==1.8.0
sentence_transformers==2.2.0
torch==1.11.0+cu113
wikipedia==1.4.0
